{erl_opts, [debug_info]}.
{deps, [{rebar_bug_demo_dep, {git, "https://github.com/cannadayr/rebar_bug_demo_dep.git"}, {branch, "master"}}]}.

{shell, [
  % {config, "config/sys.config"},
    {apps, [rebar_bug_demo]}
]}.

{overrides, [
    {override, rebar_bug_demo_dep, [
        {pre_hooks, [
            {compile, "touch foo"}]},
        {post_hooks, [
            {clean, "rm foo"}]},
        {artifacts, ["foo"]}
    ]}]}.
